{% extends "site_base.html" %}

{% block body %}
{% block title %}<h2>Add Post Here!</h2>{% endblock %}
<form action="{% url 'add_post' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}
<b><input type="submit" value="Add Post"/></b>

{% endblock %}