{% extends "site_base.html" %} 

{% block body %} 
{% block title%} Update Post Here! {% endblock%} 
    <div class="row blog-container"> 
        <div class="col-md-3 sidebar"> 
            {% block sidebar %} 
                <form id ="up_form" action="/blogs/blog_update_post/{{ post.id }}/" method="post" enctype='multipart/form-data'> 
                {% csrf_token %} 
                {{ update.as_p }} 
                <input type="submit" value="Save Post"/> 
            {% endblock %} 
        </div> 
        <div class="col-md-8 blog-content"> 
            {% block content %}{% endblock %} 
        </div> 
    </div> 
{% endblock %}
