{% extends "blogs/blog_base.html" %}

{% block body %}
{% block title %}<h2>Contact Us</h2>{% endblock %}
<form action="{% url 'contact_us' %}" method="post">
{% csrf_token %}
{{ form.as_p}}
<input type="submit" value="Submit">
</form>

{% endblock %}