{% extends "site_base.html" %}

{% block body_class %}blog{% endblock %}


{% block body %}
    <div class="row blog-container">
        <div class="col-md-3 sidebar">
            {% block sidebar %}
                <b>Username:</b> {{ user.username }}</br>
                <b>Email:</b> {{ user.email }} </br>
                <b>Name:</b> {{ user.first_name }} {{ user.last_name }} </br></br>
                <form action= "{% url 'add_post' %}" method="post">
                {% csrf_token %}
                <b><input type="submit" value="Add Post"/></b>
                </form>
                <form action= "{% url 'blog_manage_post' %}" method="post">
                {% csrf_token %}
                <b><input type="submit" value="Manage Post"/></b>
                </form>
                
                <h1>
                    <a href="#">About the blog</a>
                </h1>
                <p class="lead">
                    This is where you can list your bio, add links
                    etc., by editing the <code>blogs/blog_base.html</code>
                    template.
            {% endblock %}
        </div>
        <div class="col-md-8 blog-content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}