{% extends "site_base.html" %}

{% block body %}
{% block title %}<h2>Login Here!</h2>{% endblock %}
{% if forms.errors %}
<i>Invalid username or password. Please try again</i>
{% endif %}

<form action="{% url 'login' %}" method="post">
{% csrf_token %}
<table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
</table>
<input type="submit" value="Submit" />
<input type="hidden" name ="next" value="{{ next }}"/>
</form>
<h4><a href="{% url 'signup' %}">Sign Up Now!</a></h4> {% endblock %}
        