{% extends "site_base.html" %}

{% block body %}
{% block title %}<h2>Sign Up here!</h2>{% endblock %}

{% if registered %}
	{% csrf_token %}
	You have been registered! 
	<a href="/blogs/login/"> Login Now.</a>
{% else %}
	<form action= "/blogs/signup/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
	<input type="submit" value="Submit"/>
	</form>
{% endif %}

{% endblock %}
